#fcc_test_suite_wrapper {
    display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ColorFont : rgb(6,66,115);
    --BorderHeaderContent : 2px solid rgb(118,182,196);
}

a {
    all: unset;
    cursor: pointer;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--ColorFont);
    background-color: rgb(222,243,246);
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 15px 0;
}

header::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: var(--ColorFont);
    box-shadow: rgb(29 162 216 / 42%) 0px 5px 10px 0px;
}

#title {
    color: white;
    font-weight: 500;
    margin-bottom: 5px;
    position: relative;
    font-size: 2.7rem;
}

#title::after {
    content: "";
    border-bottom: var(--BorderHeaderContent);
    position: absolute;
    inset: 0 -35px;
    transform: translateY(5px);
}

#img-div{
    max-width: 500px;
}

#img-div>figcaption{
    margin: 10px auto 0;
    width: 90%;
    border-radius: 8px;
    text-align: center;
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
}

#image {
    display: block;
    margin: auto;
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: -2px 2px 2px 2px rgb(38 54 96 / 56%),-4px 4px 3px 3px rgba(0, 0, 0, 0.295);
}

#main {
    margin: 5px 5px 20px;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.205);
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}

#tribute-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
}

#tribute-info .Biografia{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#tribute-info .Biografia>p{
    text-align: justify;
}

#tribute-info .Apodo {
    display: flex;
    font-style: italic;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    width: 95%;
    margin: auto;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.123);
}

#tribute-info .LineaTiempo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

#tribute-info .LineaTiempo>h3{
    margin-left: 5px;
    width: 90px;
    border-bottom: var(--BorderHeaderContent);
}

#tribute-info .LineaTiempo p{
    text-align: justify;
}

#Address{
    padding: 10px 0 25px;
    width: 95%;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.116);
    border-radius: 5px;
    margin-bottom: 10px;
}

#Address p{
    font-size: 1.2rem;
    text-align: center;
}

#Address p>a{
    color: rgb(29,162,216);
    text-decoration: underline;
}

@media (min-width: 912px) {
    header {
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }

    #img-div{
        border-left: var(--BorderHeaderContent);
    }
    
    #title {
        font-size: 3rem;
    }
    
    #title::after {
        display: none;
    }

    #tribute-info{
        display: grid;
        flex-direction: initial;
        grid-template-columns: repeat(auto-fit,minmax(415px,1fr));
        gap: 20px;
        justify-items: center;
    }

    #tribute-info .Biografia{
        grid-column: 1/3;
        max-width: 884px;
    }

    #tribute-info .Apodo {
        margin: inherit;
        justify-content: center;
    }

    #Address{
        padding: 15px 0;
    }

    #Address p{
        font-size: 1.3rem;
    }
}

@media (min-width: 1334px) {
    #tribute-info{
        grid-template-rows: 150px;
        grid-auto-rows: auto;
    }
    #tribute-info .Biografia{
        place-self: center;
    }
}

